#boards {
    background-color: green;
}
body {
    background: rgb(0,117,149);
    background: linear-gradient(42deg, rgba(0,117,149,1) 0%, rgba(19,138,181,1) 35%, rgba(120,188,255,1) 60%, rgba(169,241,255,1) 100%);
}
.board-container {
    background: rgb(56,82,118);
    background: linear-gradient(42deg, rgba(56,82,118,1) 0%, rgba(59,107,152,1) 60%, rgba(54,130,164,1) 100%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.395);
    height: auto;
    width: 80%;
    white-space: nowrap;
    overflow-x: auto;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.395);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: auto;
    background: rgb(0,143,39);
    background: linear-gradient(36deg, rgba(0,143,39,1) 0%, rgba(64,242,88,1) 60%, rgba(32,189,106,1) 100%);
}

.column {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.395);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    flex-direction: column;
    width: 23%;
    height: auto;
    min-height: 200px;
    background: rgb(147,171,204);
    background: linear-gradient(242deg, rgba(147,171,204,1) 0%, rgba(123,164,203,1) 60%, rgba(128,166,204,1) 100%);
    position: relative;
}

button {
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.395);
    background-color: rgb(81, 218, 181);
    border: none;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
  }

h4 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}