<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/dist/bundle.js') }}" defer></script>
    </head>
    <body>
        <div id="root">
            <header>
                {% if user == none %}
                    <span style="color: white;">Login:</span>
                    <input class="login" style="background: white;">
                    <span style="color: white;">Password:</span>
                    <input class="password" type="password" style="background: white;">
                    <button class="login-button">Log in</button>
                    <button class="register-button">Sign up</button>
                {% else %}
                    <button class="logout-button">Log out</button>
                    <span>Logged as {{user['name']}}</span>
                {% endif%}
            </header>
            <nav>
                <ul class="sidebar">
                    <li id="cb-button" data-id="createBoard">
                        <button>Create new board</button>
                    </li>
                    {% if user %}
                        <li class="private-boards"><h4>Private boards</h4></li>
                    {% endif %}
                    {% for board in boards %}
                        {% if board['user_id'] == user['id'] and board['private']%}
                            <li class="sidebar-board" data-id="{{board['id']}}">
                                <h5 data-id="{{board['id']}}">{{board['title']}}</h5>
                            </li>
                        {% endif %}
                    {% endfor %}
                        <li class="public-boards"><h4>Public boards</h4></li>
                    {% for board in boards %}
                        {% if not board['private']%}
                            <li class="sidebar-board" data-id="{{board['id']}}">
                                <h5 data-id="{{board['id']}}">{{board['title']}}</h5>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </body>
</html>
